@font-face {
  font-family: "Nasalization";
  src: url(../fontes/nasalization-rg.otf);
}
@font-face {
  font-family: "Batman";
  src: url(../fontes/batmfa__.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(../gif/4K_UHD_25fps_FREE_Video_Background_Stars_Space_Trip.gif);
  background-position: cover;
  background-size: 100%;
  background-repeat: round;
  font-family: 'Courier New', Courier, monospace;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #bebebeb7;
  padding: 5px 20px;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
  font-family: Nasalization;
  font-size: 12px;
}

#logo img {
  width: 40px;
}

#nav  {
  display: flex;
  font-weight: bold;
  gap: 30px;
  align-items: center;
}

#nav a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-decoration: none;
  background-color: rgb(208, 204, 204);
  padding: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
}

#music {
  height: 30px;
  max-width: 300px;
}

#nav a:hover {
  background-color: rgb(248, 245, 245);
}

main {
  width: 100%;
  height: 100%;
  display: block;
}

#about {
  display: block;
  text-align: center;
  color: white;
  padding: 30px; 
  font-family: 'Courier New', Courier, monospace;
}

#about h2 {
  margin-bottom: 20px;
  margin: auto;
  font-family: "Batman";
}

#about p {
  width: 800px;
  margin: auto;
  text-align: justify;
}

#inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

#about input {
  margin-top: 15px;
  margin-left: 30px;
  height: 40px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #16163b;
  border: 1px solid;
  border-radius: 5px;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

#about button {
  line-height: 100%;
  margin-top: 15px;
  margin-left: 30px;
  padding: 10px;
  height: 40px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #16163b;
  background-color: #FF7B00;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s all ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#about button:hover {
  background-color: #f59920;
}

#about h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

#translate {
  text-align: center;
  padding: 30px;
}

form h3 {
  margin-bottom: 20px;
  font-family: "Batman";
}

#titulo {
  color: white;
}

#imagem {
  width: 50rem;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(255,255,255,0.24); 
box-shadow: 0px 0px 12px 1px rgba(255,255,255,0.24);
}

#imagem-apod {
  /* max-width: 50rem; */
  margin-bottom: 10px;
  width: 80%;
  -webkit-box-shadow: 0px 0px 12px 1px rgb(255, 255, 255); 
box-shadow: 0px 0px 12px 1px rgba(255, 255, 255, 0.482);
}

#video-apod {
  max-width: 50rem;
  margin-bottom: 10px;
  display: none;
}

#coment {
  padding: 1%;
  color: white;
  margin-bottom: 40px;
}

#rodape {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  box-sizing: border-box;
  background-color: #bebebeb7;
  padding: 25px;
  gap: 50px;
  position: fixed;
  bottom: 0;
}

#reservados a {
  text-decoration: none;
  color: rgb(8, 11, 96);
}

#links {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

#links a:hover {
  opacity: .5;
  transition: .3s all;
}
